@tailwind base;
@tailwind components;
@tailwind utilities;

.c-cursor {
   position: fixed;
   z-index: 9999;
   pointer-events: none;
   border-radius: 200px;
   height: 10px;
   opacity: 0.8;
   /* border: solid 2px #333; */
}

body {
   font-family: var(--font-raleway);
   font-weight: 400;
   columns: #333;

   background: linear-gradient(-45deg, #fff, #f3f2ff);
}